.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1200px; /* Imposta una larghezza massima per il contenitore, se necessario */
}
@media screen and (max-width: 600px) {
    /* Stili specifici per schermi con larghezza massima di 600px */
}
  
@media screen and (min-width: 601px) and (max-width: 1200px) {
    /* Stili specifici per schermi con larghezza compresa tra 601px e 1200px */
}
.img {
    max-width: 100%;
    height: auto;
}
.elemento {
    width: 50%; /* Larghezza del 50% del contenitore genitore */
  }
  
  